<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <integer>-21</integer>
      <key>T</key>
      <integer>-74</integer>
      <key>V</key>
      <integer>-55</integer>
      <key>W</key>
      <integer>-37</integer>
      <key>Y</key>
      <integer>-55</integer>
      <key>quoteright</key>
      <integer>-92</integer>
      <key>slash</key>
      <integer>35</integer>
      <key>v</key>
      <integer>-37</integer>
      <key>w</key>
      <integer>-25</integer>
      <key>y</key>
      <integer>-27</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-37</integer>
      <key>a</key>
      <integer>-40</integer>
      <key>comma</key>
      <integer>-135</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>period</key>
      <integer>-135</integer>
      <key>r</key>
      <integer>-40</integer>
      <key>u</key>
      <integer>-40</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>s</key>
      <integer>-25</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>O</key>
      <integer>-61</integer>
      <key>T</key>
      <integer>-92</integer>
      <key>V</key>
      <integer>-74</integer>
      <key>W</key>
      <integer>-74</integer>
      <key>Y</key>
      <integer>-74</integer>
      <key>quoteright</key>
      <integer>-140</integer>
      <key>y</key>
      <integer>-55</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-55</integer>
      <key>a</key>
      <integer>-15</integer>
      <key>aacute</key>
      <integer>-15</integer>
      <key>acircumflex</key>
      <integer>-15</integer>
      <key>adieresis</key>
      <integer>-15</integer>
      <key>agrave</key>
      <integer>-15</integer>
      <key>atilde</key>
      <integer>-15</integer>
      <key>comma</key>
      <integer>-150</integer>
      <key>period</key>
      <integer>-150</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <integer>-18</integer>
      <key>V</key>
      <integer>-15</integer>
      <key>W</key>
      <integer>-18</integer>
      <key>Y</key>
      <integer>-18</integer>
      <key>Z</key>
      <integer>40</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>u</key>
      <integer>-35</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-74</integer>
      <key>a</key>
      <integer>-92</integer>
      <key>c</key>
      <integer>-92</integer>
      <key>colon</key>
      <integer>-92</integer>
      <key>comma</key>
      <integer>-111</integer>
      <key>e</key>
      <integer>-92</integer>
      <key>hyphen</key>
      <integer>-92</integer>
      <key>i</key>
      <integer>-35</integer>
      <key>o</key>
      <integer>-92</integer>
      <key>period</key>
      <integer>-111</integer>
      <key>r</key>
      <integer>-74</integer>
      <key>s</key>
      <integer>-92</integer>
      <key>semicolon</key>
      <integer>-92</integer>
      <key>u</key>
      <integer>-74</integer>
      <key>w</key>
      <integer>-92</integer>
      <key>y</key>
      <integer>-74</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-55</integer>
      <key>O</key>
      <integer>-15</integer>
      <key>a</key>
      <integer>-84</integer>
      <key>colon</key>
      <integer>-55</integer>
      <key>comma</key>
      <integer>-111</integer>
      <key>e</key>
      <integer>-65</integer>
      <key>hyphen</key>
      <integer>-74</integer>
      <key>i</key>
      <integer>-18</integer>
      <key>o</key>
      <integer>-65</integer>
      <key>period</key>
      <integer>-111</integer>
      <key>r</key>
      <integer>-37</integer>
      <key>semicolon</key>
      <integer>-55</integer>
      <key>u</key>
      <integer>-48</integer>
      <key>y</key>
      <integer>-18</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-37</integer>
      <key>O</key>
      <integer>-15</integer>
      <key>a</key>
      <integer>-37</integer>
      <key>colon</key>
      <integer>-55</integer>
      <key>comma</key>
      <integer>-92</integer>
      <key>e</key>
      <integer>-37</integer>
      <key>hyphen</key>
      <integer>-55</integer>
      <key>i</key>
      <integer>-18</integer>
      <key>o</key>
      <integer>-37</integer>
      <key>period</key>
      <integer>-92</integer>
      <key>r</key>
      <integer>-18</integer>
      <key>semicolon</key>
      <integer>-55</integer>
      <key>u</key>
      <integer>-18</integer>
      <key>y</key>
      <integer>-18</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-70</integer>
      <key>a</key>
      <integer>-85</integer>
      <key>colon</key>
      <integer>-74</integer>
      <key>comma</key>
      <integer>-130</integer>
      <key>e</key>
      <integer>-85</integer>
      <key>hyphen</key>
      <integer>-92</integer>
      <key>i</key>
      <integer>-37</integer>
      <key>o</key>
      <integer>-85</integer>
      <key>p</key>
      <integer>-65</integer>
      <key>period</key>
      <integer>-130</integer>
      <key>q</key>
      <integer>-85</integer>
      <key>semicolon</key>
      <integer>-74</integer>
      <key>u</key>
      <integer>-65</integer>
      <key>v</key>
      <integer>-37</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>comma</key>
      <integer>10</integer>
      <key>g</key>
      <integer>20</integer>
      <key>period</key>
      <integer>25</integer>
      <key>x</key>
      <integer>20</integer>
      <key>z</key>
      <integer>20</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>ellipsis</key>
      <integer>-50</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>i</key>
      <integer>20</integer>
      <key>j</key>
      <integer>20</integer>
      <key>l</key>
      <integer>10</integer>
    </dict>
    <key>dollar</key>
    <dict>
      <key>space</key>
      <integer>-116</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>f</key>
      <integer>25</integer>
      <key>fi</key>
      <integer>25</integer>
      <key>fl</key>
      <integer>25</integer>
      <key>t</key>
      <integer>23</integer>
    </dict>
    <key>eacute</key>
    <dict>
      <key>f</key>
      <integer>25</integer>
      <key>t</key>
      <integer>23</integer>
    </dict>
    <key>ecircumflex</key>
    <dict>
      <key>f</key>
      <integer>25</integer>
      <key>t</key>
      <integer>23</integer>
    </dict>
    <key>edieresis</key>
    <dict>
      <key>f</key>
      <integer>25</integer>
      <key>t</key>
      <integer>23</integer>
    </dict>
    <key>egrave</key>
    <dict>
      <key>f</key>
      <integer>25</integer>
      <key>t</key>
      <integer>23</integer>
    </dict>
    <key>ellipsis</key>
    <dict>
      <key>bracketright</key>
      <integer>-50</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <integer>16</integer>
      <key>aacute</key>
      <integer>16</integer>
      <key>acircumflex</key>
      <integer>16</integer>
      <key>adieresis</key>
      <integer>16</integer>
      <key>agrave</key>
      <integer>26</integer>
      <key>atilde</key>
      <integer>16</integer>
      <key>e</key>
      <integer>16</integer>
      <key>ecircumflex</key>
      <integer>16</integer>
      <key>edieresis</key>
      <integer>16</integer>
      <key>f</key>
      <integer>-18</integer>
      <key>i</key>
      <integer>35</integer>
      <key>iacute</key>
      <integer>35</integer>
      <key>icircumflex</key>
      <integer>35</integer>
      <key>idieresis</key>
      <integer>30</integer>
      <key>igrave</key>
      <integer>35</integer>
      <key>j</key>
      <integer>35</integer>
      <key>o</key>
      <integer>16</integer>
      <key>oacute</key>
      <integer>16</integer>
      <key>ocircumflex</key>
      <integer>16</integer>
      <key>odieresis</key>
      <integer>16</integer>
      <key>ograve</key>
      <integer>20</integer>
      <key>parenright</key>
      <integer>134</integer>
      <key>r</key>
      <integer>15</integer>
      <key>u</key>
      <integer>10</integer>
      <key>v</key>
      <integer>55</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>four</key>
      <integer>45</integer>
      <key>one</key>
      <integer>30</integer>
      <key>period</key>
      <integer>40</integer>
      <key>two</key>
      <integer>30</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>i</key>
      <integer>25</integer>
      <key>iacute</key>
      <integer>25</integer>
      <key>icircumflex</key>
      <integer>25</integer>
      <key>idieresis</key>
      <integer>25</integer>
      <key>igrave</key>
      <integer>25</integer>
      <key>j</key>
      <integer>25</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>quotedblright</key>
      <integer>-35</integer>
    </dict>
    <key>i</key>
    <dict>
      <key>u</key>
      <integer>-15</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>u</key>
      <integer>-15</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>s</key>
      <integer>-25</integer>
      <key>u</key>
      <integer>-15</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>four</key>
      <integer>30</integer>
      <key>seven</key>
      <integer>-14</integer>
      <key>three</key>
      <integer>-35</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>five</key>
      <integer>-30</integer>
      <key>seven</key>
      <integer>-35</integer>
      <key>three</key>
      <integer>-35</integer>
    </dict>
    <key>quoteleft</key>
    <dict>
      <key>quoteleft</key>
      <integer>-92</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>quoteright</key>
      <integer>-92</integer>
      <key>s</key>
      <integer>-74</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-15</integer>
      <key>aacute</key>
      <integer>-15</integer>
      <key>acircumflex</key>
      <integer>-15</integer>
      <key>adieresis</key>
      <integer>-15</integer>
      <key>agrave</key>
      <integer>-15</integer>
      <key>atilde</key>
      <integer>-15</integer>
      <key>c</key>
      <integer>-15</integer>
      <key>ccedilla</key>
      <integer>-15</integer>
      <key>comma</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>25</integer>
      <key>g</key>
      <integer>-15</integer>
      <key>hyphen</key>
      <integer>-55</integer>
      <key>o</key>
      <integer>-10</integer>
      <key>period</key>
      <integer>-80</integer>
      <key>q</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>25</integer>
      <key>v</key>
      <integer>20</integer>
      <key>w</key>
      <integer>20</integer>
      <key>x</key>
      <integer>20</integer>
      <key>y</key>
      <integer>20</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>i</key>
      <integer>-20</integer>
      <key>l</key>
      <integer>-20</integer>
      <key>t</key>
      <integer>15</integer>
      <key>u</key>
      <integer>-20</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>four</key>
      <integer>-75</integer>
      <key>period</key>
      <integer>-35</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>seven</key>
      <integer>-28</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>A</key>
      <integer>-35</integer>
      <key>T</key>
      <integer>25</integer>
      <key>V</key>
      <integer>35</integer>
      <key>W</key>
      <integer>35</integer>
      <key>X</key>
      <integer>35</integer>
      <key>Y</key>
      <integer>35</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <integer>15</integer>
      <key>g</key>
      <integer>20</integer>
      <key>v</key>
      <integer>23</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>15</integer>
      <key>period</key>
      <integer>40</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>comma</key>
      <integer>20</integer>
      <key>g</key>
      <integer>10</integer>
      <key>n</key>
      <integer>15</integer>
      <key>ntilde</key>
      <integer>15</integer>
      <key>p</key>
      <integer>15</integer>
      <key>period</key>
      <integer>25</integer>
      <key>x</key>
      <integer>20</integer>
      <key>z</key>
      <integer>20</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>comma</key>
      <integer>-74</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>e</key>
      <integer>-18</integer>
      <key>period</key>
      <integer>-74</integer>
      <key>t</key>
      <integer>16</integer>
      <key>w</key>
      <integer>20</integer>
      <key>x</key>
      <integer>20</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>comma</key>
      <integer>-74</integer>
      <key>period</key>
      <integer>-74</integer>
      <key>v</key>
      <integer>20</integer>
      <key>x</key>
      <integer>20</integer>
      <key>y</key>
      <integer>20</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>v</key>
      <integer>20</integer>
      <key>w</key>
      <integer>20</integer>
      <key>y</key>
      <integer>20</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>comma</key>
      <integer>-90</integer>
      <key>period</key>
      <integer>-90</integer>
      <key>x</key>
      <integer>20</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
