<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>770</integer>
	<key>capHeight</key>
	<integer>728</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011, 2015 Omnibus-Type (www.omnibus-type.com omnibus.type@gmail.com)</string>
	<key>descender</key>
	<integer>-230</integer>
	<key>description</key>
	<string>Copyright (c) 2011, 2015 Omnibus-Type (www.omnibus-type.com omnibus.type@gmail.com)</string>
	<key>familyName</key>
	<string>Rosario</string>
	<key>fsType</key>
	<array>
	</array>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License Version 1.1. </string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2015/02/06 14:39:35</string>
	<key>openTypeNameDesigner</key>
	<string>Hector Gatti</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.gattistudio.com.ar</string>
	<key>openTypeNameManufacturer</key>
	<string>Omnibus Type</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.omnibus-type.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Rosario</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>497</integer>
		<integer>509</integer>
		<integer>728</integer>
		<integer>738</integer>
		<integer>762</integer>
		<integer>770</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>490</integer>
		<integer>510</integer>
		<integer>724</integer>
		<integer>744</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-230</integer>
		<integer>-216</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>63</integer>
		<integer>70</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>83</integer>
		<integer>95</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Rosario Bold is a trademark of Omnibus-Type.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>497</integer>
</dict>
</plist>
