<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>f_iacute</key>
    <string>f_iacute.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
  </dict>
</plist>
